# Gradle
# ------
.gradle
/out
/build
/buildSrc/build
/subprojects/*/build
/subprojects/docs/src/samples/*/*/build
/subprojects/internal-android-performance-testing/build-android-libs
!gradle-wrapper.jar

# IDEA
# ----
.idea
.shelf
/*.iml
/*.ipr

# Cucumber
# ----
/target/
.settings/
.classpath
.project
/test-output/